@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Fira+Sans:wght@400;600;800&display=swap");

// Breakpoints for media queries:
$small: 540px;
$medium: 1280px;

// Max width:
$max-width: 1400px;

// Font Families:
$primary-ff: "Fira Sans", sans-serif;
$mono-ff: "Cutive Mono", monospace;

// Typography:
$h1-fs: 3rem;
$h2-fs: 2.5rem;
$h3-fs: 2rem;
$h4-fs: 1.5rem;
$p-fs: 1rem;
$link-fs: 1rem;
$input-fs: 1rem;

// Colors:
$text-code: #eaeaea;
$text-span: #d8d835;
$text-yellow: #e9e910;
$text-red: #a00000;

$bg: #444;
$pre-bg: #333;

$shadow: #ffffff2b;
$box-shadow: #000000a3;
